*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, button{
  text-decoration: none;
  cursor: pointer;
}
:root{
  --aqua: #38D9BA;
  --bg-aqua: #17FFC7;
  --bg: #000910;
}
body{
  font-family: "JetBrains Mono", monospace;
  color: white;
}
header{
 background: var(--bg);
 text-align: center;
}
header img{
  width: 300px;
}
#banner{
  background: var(--bg);
  padding-top: 50px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
#banner .banner-text h1{
  font-size: 48px;
  margin-bottom: 60px;
}
#banner .banner-text button{
  background: var(--aqua);
  color: var(--bg);
  font-size: 16px;
  padding: 15px 36px;
  border-radius: 24px;
  border: 1px solid var(--aqua);
  margin-right: 10px;
}
#banner .banner-text button:hover{
  background: transparent;
  color: white;
  font-size: 16px;
  padding: 15px 36px;
  border-radius: 24px;
  border: 1px solid var(--aqua);
  margin-right: 10px;
}
#banner .banner-text .info{
  background: transparent;
  color: white;
  border: 1px solid var(--aqua);
  font-size: 16px;
  padding: 15px 36px;
  border-radius: 24px;
  margin-right: 10px;
}
#banner .banner-text .info:hover{
  background: var(--aqua);
  color: var(--bg);
  font-size: 16px;
  padding: 15px 36px;
  border-radius: 24px;
  border: 1px solid var(--aqua);
  margin-right: 10px;
}
#banner .shapes img:first-child{
  position: absolute;
  top: 10%;
  left: 10%;
}
#banner .shapes img:nth-child(2){
  position: absolute;
  top: 40%;
  right: 20%;
}
#banner .shapes img:nth-child(3){
  position: absolute;
  top: 40%;
  left: 20%;
}
#banner .shapes img:nth-child(4){
  position: absolute;
  top: 10%;
  right: 10%;
}
#banner .planet{
  margin: 0 auto;
  width: 100%;
}
#main{
  background: var(--bg);
  padding: 100px 0;
}
#main .main-wrapper{
  width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#main .main-left{
  width: 40%;
}
#main .main-right{
  width: 40%;
}
#main .input .checkbox{
  display: flex;
  align-items: center;
  gap: 10px;
}
#main .output{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#main h2{
  font-size: 25px;
  margin-bottom: 10px;
}
#main h6{
  font-size: 16px;
  color: #ffffffc5;
}
#main textarea{
  width: 100%;
  height: 200px;
  margin: 20px 0;
  padding: 10px;
  background: var(--bg);
  color: white;
  border: 1px solid var(--aqua);
  border-radius: 10px;
}
#main .key{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin: 20px 0;
}
#main .key input{
  width: 100%;
  padding: 10px;
  background: var(--bg);
  color: white;
  border: 1px solid var(--aqua);
  border-radius: 10px;
}
#main button{
  background: var(--aqua);
  color: var(--bg);
  font-size: 16px;
  padding: 15px 36px;
  border-radius: 24px;
  border: 1px solid var(--aqua);
  margin-right: 10px;
}
#main button:hover{
  background: transparent;
  color: white;
  font-size: 16px;
  padding: 15px 36px;
  border-radius: 24px;
  border: 1px solid var(--aqua);
  margin-right: 10px;
  
}
#main .input{
  margin-bottom: 30px;
}